<!-- ===================================== -->
<!-- TEMPLATE LieuInfosSousLieux           -->
<!-- ===================================== -->
<template name="LieuInfosSousLieux">
	<div class="row">
		<div class="col-md-12">
			{{#with lieu}}
				{{#with sousLieux}}
					{{> LieuFormaterListe}}
				{{/with}}
			{{/with}}
		</div>
	</div>
</template>

<!-- ===================================== -->
<!-- TEMPLATE DOCUMENTATION                -->
<!-- LieuInfosSousLieux_DOCAUTO            -->
<!-- ===================================== -->
<template name="LieuInfosSousLieux_DOCAUTO">
	<table class="table">
		<thead>
			<tr>
				<th>Contexte</th>
				<th>Paramètres</th>
				<th>Dépendances</th>
				<th>Explication</th>
				<th>Bootstrap</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
				
<!-- Contexte ============================= -->
Aucun.
<!-- ====================================== -->

				</td>
				<td>
				
<!-- Paramètres =========================== -->
<table>
	<tr>
		<td><code>lieu</code></td>
		<td><code>::LIEU</code></td>
	</tr>
</table>
<!-- ====================================== -->

				</td>
				<td>
				
<!-- Dépendances ========================== -->
<code>LieuFormaterListe</code><br/>
<!-- ====================================== -->

				</td>
				<td>
				
<!-- Explication ========================== -->
Affiche les sous-lieux du lieu passé en contexte.
<!-- ====================================== -->

				</td>
				<td>

<!-- Responsive =========================== -->
Résultat intégré dans <code>&lt;div class="row"&gt;</code>.
<!-- ====================================== -->

				</td>
			</tr>
		</tbody>
	</table>

	<h4>Améliorations</h4>
	<div class="bg-warning">
<!-- Améliorations ======================= -->
A compléter.
<!-- ===================================== -->	
	</div>
</template>