<!-- ===================================== -->
<!-- TEMPLATE OutilsAnniversairesModal     -->
<!-- ===================================== -->
<template name="OutilsAnniversairesModal">
	<div class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<!-- HEADER ============== -->
				<div class="modal-header">
					Les anniversaires de la semaine
				</div>
				<!-- BODY ================ -->
				<div class="modal-body row">
					<center>
						{{> OutilsAnniversaires}}
					</center>
				</div>
				<!-- FOOTER ============== -->
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
				</div>
			</div>
		</div>
    </div>
</template>