<!-- ===================================== -->
<!-- TEMPLATE OutilsFaitsMarquants         -->
<!-- ===================================== -->
<template name="OutilsFaitsMarquants">
	<div class="container">
		<h2>Ma famille dans l'histoire</h2>
		<table class="table table-striped">
			<tbody>
				<tr>
					<td>
						<img src="/14_18.jpg"/>
					</td>
					<td>
						<h3>Décédés lors de la guerre de 1914-1918</h3>
						<ul>
							<li>{{#with gh_persById "9cXkZehGhj2PxjWdi"}}{{> PersCompletAvecLien}}{{/with}} : .</li>
							<li>{{#with gh_persById "rXytejDN2GFcNR7tC"}}{{> PersCompletAvecLien}}{{/with}} : .</li>
							<li>{{#with gh_persById "pZQyah9kPm3jHmhqf"}}{{> PersCompletAvecLien}}{{/with}} : .</li>
						</ul>
					</td>
				</tr>
				<tr>
					<td>
						<h3>Décédés lors de campagnes napoléonnienne</h3>
						<ul>
							<li>{{#with gh_persById "brcsHBR8CRzbRjRqT"}}{{> PersCompletAvecLien}}{{/with}} : décède de maladie à Vienne après avoir probablement participé à la bataille de Wagram.</li>
							<li>{{#with gh_persById "cKy8FZoA22yFy9yGt"}}{{> PersCompletAvecLien}}{{/with}} : décède de maladie à Vitoria en Espagne.</li>
						</ul>
					</td>
					<td>
						<img src="/napoleon.jpg" class="pull-right"/>
					</td>
				</tr>
				<tr>
					<td>
						<img src="/lorient.jpg"/>
					</td>
					<td>
						<h3>Marin de la Companie des Indes</h3>
						<ul>
							<li>{{#with gh_persById "gYaYMmariqK8MnW2G"}}{{> PersCompletAvecLien}}{{/with}} : l'acte de remariage de sa femme indique qu'il est décédé au Indes.</li>
						</ul>
					</td>
				</tr>
				<tr>
					<td>
						<h3>Conquêtes coloniales</h3>
						<ul>
							<li>{{#with gh_persById "Boz5RuT4A4HoSQDrA"}}{{> PersCompletAvecLien}}{{/with}} : participe à la conquête de Madagascar et à celle de l'Indochine.</li>
						</ul>
					</td>
					<td>
						<img src="/colonial.jpg" class="pull-right"/>
					</td>
				</tr>
				<tr>
					<td>
						<img src="/vendee.jpg"/>
					</td>
					<td>
						<h3>Marques d'honneur après les guerres de Vendée</h3>
						<ul>
							<li>{{#with gh_persById "tNyCDgqAD6Axregii"}}{{> PersCompletAvecLien}}{{/with}} : pensionné pour avoir participé aux différentes guerres de Vendée.</li>
						</ul>
					</td>
				</tr>
				<tr>
					<td>
						<h3>Evènements pendant les guerres de Vendée</h3>
						<ul>
							<li>{{#with gh_persById "y6ed8GYkDi9T5LWYC"}}{{> PersCompletAvecLien}}{{/with}} : décède à Challans en juillet 1794, mentionnée comme "réfugiée de la commune de Sallertaine".</li>
							
						</ul>
					</td>
					<td>
						<img src="/vendee.jpg" class="pull-right"/>
					</td>
				</tr>
				<tr>
					<td>
						<img src="/prison.jpg"/>
					</td>
					<td>
						<h3>Personnes emprisonnées</h3>
						<ul>
							<li>{{#with gh_persById "tNyCDgqAD6Axregii"}}{{> PersCompletAvecLien}}{{/with}} : passé en cours d'assise et emprisonné à Fontevraud, section des politiques.</li>
						</ul>
					</td>
				</tr>
				<tr>
					<td>
						<h3>Les dynasties de meuniers : les GEAY, CORNEVIN, MOUILLEAU, BLANCONNIER...</h3>
						<ul>
							<li>{{#with gh_docById "dNEAY38tNP7LpFzcJ"}}{{> DocMiniatureAvecLien}}{{/with}} : inventaire de succession d'un meunier Mathurin BARREAU, époux d'une GEAY.</li>
						</ul>
					</td>
					<td>
						<img src="/moulin.jpg"/>
					</td>
				</tr>
				<tr>
					<td>
						
					</td>
					<td>
						<h3>Curés, vicaires</h3>
						<h4>Challans</h4>
						<ul>
						
							<li>{{#with gh_persById "YA9jfokzaTTsduovE"}}{{> PersCompletAvecLien}}{{/with}} : curé jusqu'au 11/03/1731.</li>
							<li>{{#with gh_persById "LSMct9pSczqb8Jeft"}}{{> PersCompletAvecLien}}{{/with}} : vicaire le 31/07/1765.</li>
						</ul>
						<h4>Le Perrier</h4>
						<ul>
							<li>{{#with gh_persById "zMBmayRT6jtfFp7FQ"}}{{> PersCompletAvecLien}}{{/with}} : curé du Perrier entre le 7 décembre 1774 et septembre 1792 puis entre le 30 novembre 1802 (9 Frimaire An XI) et le 30 novembre 1807.</li>
						</ul>
						<h4>Saint Jean de Monts</h4>
						<ul>
							<li>{{#with gh_persById "AmQmvNeRETSQemNeM"}}{{> PersCompletAvecLien}}{{/with}} : curé jusqu'au 27/04/1771.</li>
							<li>{{#with gh_persById "FW2dSPSjMjXXpLnQX"}}{{> PersCompletAvecLien}}{{/with}} : curé depuis avant le 16/11/1773 et jusqu'au 31/07/1784.</li>
						</ul>
						<h4>Sallertaine</h4>
						<ul>
							<li>{{#with gh_persById "BqRJC8Qt2YRCMbpwX"}}{{> PersCompletAvecLien}}{{/with}} : curé de 1772 à 1802 de retour d'émigration.</li>
						</ul>
						<h4>Saint Gervais</h4>
						<ul>
							<li>{{#with gh_persById "HcrxMWgP6kKdmFyjK"}}{{> PersCompletAvecLien}}{{/with}} : curé jusqu'au 28/12/1689.</li>
							<li>{{#with gh_persById "9nSdsEofZPg6Yj5EZ"}}{{> PersCompletAvecLien}}{{/with}} : curé vers 1767.</li>
							
							<li>{{#with gh_persById "cRwzek49HH7jcqLDC"}}{{> PersCompletAvecLien}}{{/with}} : vicaire vers 1731.</li>
						</ul>
						<h4>Saint Urbain</h4>
						<ul>
							<li>{{#with gh_persById "Ptn7q3hHxPCFtEDLM"}}{{> PersCompletAvecLien}}{{/with}} : curé jusqu'au 23/05/1686.</li>
							<li>{{#with gh_persById "T5Dg93WBRWL544bDY"}}{{> PersCompletAvecLien}}{{/with}} : curé jusqu'au 13/03/1698.</li>
							<li>{{#with gh_persById "8kZD3eph4J2zngas7"}}{{> PersCompletAvecLien}}{{/with}} : curé jusqu'au ??/05/1713.</li>
							<li>{{#with gh_persById "WuQWWWjRkDNoyWXap"}}{{> PersCompletAvecLien}}{{/with}} : curé jusqu'au 18/03/1748.</li>
							<li>{{#with gh_persById "q4jveKLeDE6Cg37xQ"}}{{> PersCompletAvecLien}}{{/with}} : curé jusqu'au 21/06/1803.</li>
							
						</ul>
					</td>
				</tr>
			</tbody>
		</table>
		<h3>Formes canoniques</h3>
		GEAY = GE, GER, GEZ, GEAI, JAY, JAI, GAY, LEGE, LEGER, LEGEZ, LEGEAI, LEGEAY, LEJAY, LEJAI, LEGAY<br/>
		REDOIS = REDOY<br/>
	</div>
</template>