<!-- ===================================== -->
<!-- TEMPLATE PrefsChangerSosasRef                                       -->
<!-- Contexte : aucun          					           -->
<!-- ===================================== -->
<template name="PrefsChangerSosasRef">
	<div class="container">
		<h2><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Préférences : changer le sosa n°1</h2>
		<form id="changerRefSosa1" class="form-inline">
			<div id="divChangerRefSosa1" class="form-group">
				<label for="refSosa1">Référence du sosa n°1</label>
				<input type="text" class="form-control" id="refSosa1" placeholder="Saisir l'id du sosa 1 choisi" value={{valeurActuelleSosa1}}>
			</div>
			<button type="submit" class="btn btn-primary">enregistrer</button>
		</form>
	</div>
</template>