/* Pour svg Arbre ascendant                                        */
/* --------------------------------------------------------------- */
g.nom					{fill:#140174;}
text.nomPrenom			{font-family:Arial;font-size:7px;fill:#140174;}
text.dates				{font-family:Arial;font-size:6px;fill:#140174;}
text.implexe				{fill:#A94442;}
text.incertain			{fill:#FF0601;}