<!-- ===================================== -->
<!-- TEMPLATE PersArbreAscLegendeCouleurCommunesModal            -->
<!-- ===================================== -->
<template name="PersArbreAscLegendeCouleurCommunesModal">
	<div class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<!-- HEADER ============== -->
				<div class="modal-header">
					Couleurs selon la commune
				</div>
				<!-- BODY ================ -->
				<div class="modal-body text-center">
					<img src="/legendeCommunes.svg" width="100%" height="100%"/>
				</div>
				<!-- FOOTER ============== -->
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
				</div>
			</div>
		</div>
    </div>
</template>