<!-- ===================================== -->
<!-- TEMPLATE LienListeVers                -->
<!-- ===================================== -->
<template name="LienListeVers">
	{{#with listeLiensVersCetObjet}}
		<h4>{{hlp_count .}} lien{{#if hlp_gt (hlp_count .) 1}}s{{/if}} vers {{intitule ../type}}</h4>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Depuis objet</th>
						<th>Type de zone</th>
						<th>Commentaire</th>
						<th>Modifier</th>
						<th>Supprimer</th>
					</tr>
				</thead>
				<tbody>
					{{#each .}}
						<tr>
							<td>
								{{> LibTitreObjetLien pour}}
							</td>
							<td>{{zone}}</td>
							<td>{{comment}}</td>
							<td>{{> LienBoutonModifier}}</td>
							<td>{{> lienBoutonSupprimer}}</td>
						</tr>
					{{/each}}
				</tbody>
			</table>
	{{else}}
		<h4>0 lien vers {{intitule type}}</h4>
	{{/with}}
</template>

<!-- ===================================== -->
<!-- TEMPLATE DOCUMENTATION                -->
<!-- LienListeVers_DOCAUTO                 -->
<!-- ===================================== -->
<template name="LienListeVers_DOCAUTO">
	<table class="table">
		<thead>
			<tr>
				<th>Contexte</th>
				<th>Paramètres</th>
				<th>Dépendances</th>
				<th>Explication</th>
				<th>Bootstrap</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
				
<!-- Contexte ============================= -->
Aucun
<!-- ====================================== -->

				</td>
				<td>
				
<!-- Paramètres =========================== -->
<table>
	<tr>
		<td><code>obj</code></td>
		<td><code>::genObject</code></td>
	</tr>
	<tr>
		<td><code>type</code></td>
		<td><code>::["PERS","LIEU","HIST","DOC"]</code></td>
	</tr>
</table>
<!-- ====================================== -->

				</td>
				<td>
				
<!-- Dépendances ========================== -->
<code>LibTitreObjetLien</code><br/>
<code>LienBoutonModifier</code><br/>
<code>lienBoutonSupprimer</code><br/>

<!-- ====================================== -->

				</td>
				<td>
				
<!-- Explication ========================== -->
Affiche les liens (de la collection <code>Liens</code>) vers l'objet passé en paramètre <code>obj</code> et dont le type est passé en paramètre <code>type</code>, précédé d'un titre indiquant combien de liens existent. Possibilité de supprimer ou modifier un lien.
<!-- ====================================== -->

				</td>
				<td>
				
<!-- Responsive =========================== -->
Pas de mise en forme Bootstrap.
<!-- ====================================== -->

				</td>
			</tr>
		</tbody>
	</table>
	
		
	<table class="table">
		<thead>
			<tr>
				<th colspan="2">Exemples/Tests</th>
			</tr>
		</thead>
		<tbody>
		
<!-- === BLOC EXEMPLE/TEST ================ -->		
			<tr>
				<td>
				
<!-- Codes tests ========================== -->
<pre>{{|#with souvenirBanquet}}
	{{|> LienListeVers obj=. type="DOC"}}
{{|/with}}</pre>
<!-- ===================================== -->	

				</td>
				<td>
				
<!-- Rendu ================================ -->
{{#with souvenirBanquet}}
	{{> LienListeVers obj=. type="DOC"}}
{{/with}}
<!-- ===================================== -->	

				</td>		
			</tr>
<!-- === FIN BLOC EXEMPLE/TEST ============ -->		

		</tbody>
	</table>

<h4>Améliorations</h4>
<div class="bg-warning">
<!-- Améliorations ======================== -->
A compléter.
<!-- ===================================== -->	
</div>
</template>