<!-- ===================================== -->
<!-- TEMPLATE GoogleMap                    -->
<!-- Parameters : 						   -->
<!-- - doc : layer document                -->
<!-- ===================================== -->
<template name="GoogleMap">
	<div class="row">
		<div class="col-md-10">
			<div class="map-container" style="width:100%; height:700px;background-color:#DDDDDD">
				{{> googleMap name="myMap" options=myMapOptions}}
			</div>
		</div>
		<div class="col-md-2">
			{{pseudoHelperForReactivity}}
			{{#each layerDocsCursor}}
				<small><a href="/doc/infos/{{_id}}" title="Voir ce document">{{> LibIcone "iconeDoc"}} {{titre}}</a></small>
				<form class="form-inline">
					<div class="form-group">
						<input class="opacity_slider" type="range" min="0" max="100" value="{{opacityPerLayerDoc}}"/>
						<label>{{opacityPerLayerDoc}}%</label>
					</div>
				</form>
			{{/each}}
		</div>
	</div>
</template>

<!-- ===================================== -->
<!-- TEMPLATE DOCUMENTATION                -->
<!-- GoogleMap_DOCAUTO                     -->
<!-- ===================================== -->
<template name="GoogleMap_DOCAUTO">
	<!-- Paramètres =========================== -->
	<table class="table">
			<thead>
				<tr>
					<th>Paramètres</th>
					<th>Type</th>
					<th>Explication</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><code>[lieuFocus]</code></td>
					<td><code>::GenLIEU</code></td>
					<td>Optionnel : Lieu que l'on souhaite afficher par un marqueur sur Google Maps avec éventuellement la feuille ou les feuilles de cadastre qui référence(ent) ce lieu.</td>
				</tr>
				<tr>
					<td><code>[docFocus]</code></td>
					<td><code>::GenDOC</code></td>
					<td>Optionnel : document géo-référencé que l'on souhaite afficher sur Google Maps avec éventuellement les marqueurs de tous les lieux dits de ce document indexé dans la base de <code>Lieux</code>.</td>
				</tr>
			</tbody>
	</table>
	<!-- ====================================== -->
.
	<h4>Explications</h4>
	<p>Un lieu focus ou un doc focus doit être précisé.</p>
	<p>Dans le cas d'affichage d'un lieu focus, la position du marqueur est éditable directement par glisser/coller. Dans le cas d'un doc focus, les positions des marqueurs n'est pas éditable, mais il suffit de cliquer sur le marqueur pour afficher la carte du lieu correspondant en focus.</p>
	<p>Un potentiomètre permet de régler la transparences des éventuelles feuilles cadastrales affichées.</p>
	<p>Le niveau de zoom initial est différent si le lieu focus est une commune ou un lieudit ou si c'est un doc focus qui est affiché.</p>
	
	<table class="table">
		<thead>
			<tr>
				<th colspan="2">Exemples/Tests</th>
			</tr>
		</thead>
		<tbody>
		
<!-- === BLOC EXEMPLE/TEST =============== -->		
			<tr>
				<td>
				
<!-- Codes tests ========================= -->
<pre>{{|> GoogleMap docFocus = cadastreLePerrierA2}}</pre>
<!-- ===================================== -->	

				</td>
				<td>
				
<!-- Rendu =============================== -->
{{> GoogleMap docFocus = cadastreLePerrierA2}}
<!-- ===================================== -->	

				</td>		
			</tr>
<!-- === FIN BLOC EXEMPLE/TEST =========== -->		

		</tbody>
	</table>

	<h4>Améliorations</h4>
	<div class="bg-warning">
<!-- Améliorations ======================= -->
<p>Gérer les problèmes de connexion Internet, de chargement de la librairie Google Maps.</p>
<!-- ===================================== -->	
	</div>
</template>