<!-- ===================================== -->
<!-- TEMPLATE RouterLayoutModifier         -->
<!-- Contexte : aucun          			   -->
<!-- ===================================== -->
<template name="RouterLayoutModifier">
	<header>
		{{> RouterNav}}
	</header>
	<article  class="navBarRemainingHeight">
		<div class="container-fluid scrollable">
			<div class="row">
				<div class="col-sm-12">
					<h2>{{> yield "icone"}} Modifier</h2>
				</div>
			</div>
			{{> yield}}
		</div>
	</article>
</template>
