<!-- ===================================== -->
<!-- TEMPLATE RouterLogin                  -->
<!-- ===================================== -->
<template name="RouterLogin">
	<div class="container">
		<div class="surligne">
			<div class="row">
				<div class="col-sm-12 text-center">
					<h2>Bienvenue sur le site de généalogie, d'histoire et géographie du Marais Breton</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3">
				</div>
				<div class="col-sm-6 text-center">
					<img class="img-responsive" src="/bourrineRosalie.jpg"/>
				</div>
				<div class="col-sm-3">
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 text-center">
					<h4>Créez votre compte ou connectez-vous en utilisant le bouton "<span style="color:#337ab7;">Connexion / Inscription</span>".</h4>
				</div>
			</div>
		</div>
	</div>
</template>