/* Scale --------------------------- */
.wmtsviewer-scale-background {
	stroke-width:0;
	fill:#EEEEEE;	
}
.wmtsviewer-scale-line {
	stroke:#135A97;
	stroke-width:3;
}
.wmtsviewer-scale-text {
	text-anchor:middle;
	stroke:#135A97;
	fill:#135A97;
}

/* Rectangle around doc ------------ */
.wmtsviewer-rect-around-doc {
	fill:none;
	stroke-width:4;
	stroke:blue
}

.wmtsviewer-rect-around-doc:hover {
	stroke:red
}

/* Options menu -------------------- */
.wmtsviewer-options-background {
	background-color:#EEEEEE;
	padding-top:5px;
	padding-bottom:5px;
}

.wmtsviewer-doc-list {
	height:195px;
	overflow:auto;
	border:1px solid #135A97;
	padding:3px
}