<!-- ===================================== -->
<!-- TEMPLATE PersArbreDescExplorableRecursif   -->
<!-- Contexte {                            -->
<!-- "pers" ::PERS                         -->
<!-- "generation"::integer                 -->
<!-- ===================================== -->
<template name="PersArbreDescExplorableRecursif">
	<div style="margin:0px;padding:0px;">
	{{#with pers}}
		{{#with gh_coupleEventsByPersId _id}}
			{{#if isExplored}}
				<img src="/moins.gif" title="Réduire"/>
				{{#if ../../focus}}
					<em>{{#with ..}}{{> PersCompletSansLien}}{{/with}}</em>
				{{else}}
					{{#with ..}}{{> PersCompletAvecLien}}{{/with}}
				{{/if}}
				{{#each .}}
					{{#unless (hlp_eq type "DIVORCE")}}
						{{#with gh_conjoint ../../_id .}}
							<div style="margin-left:29px;">
							{{#if (hlp_eq ../type "UNION-LIBRE")}}Union libre{{else}}{{#if (hlp_eq ../type "PACS")}}Pacsé{{/if}}{{#if (hlp_eq ../type "MARIAGE")}}Marié{{/if}}{{#if (hlp_eq ../../../sexe "F")}}e{{/if}}{{/if}}
							({{#with ../date}}{{> DateformatCourt}}{{/with}}) avec : {{> PersCompletAvecLien}} :</div>
							<div style="border-radius: 5px;margin-left:29px;margin-right:0px;margin-top:0px;margin-bottom:0px;padding:5px;background-color:{{couleurFond}};">
								{{#with gh_listeEnfants ../../.. .}}
									- enfants (génération {{generation}}) :<br/>
										{{#each .}}
											<div style="margin-left:0px;margin-right:0px;margin-top:0px;margin-bottom:0px;padding:0px">
											{{> PersArbreDescExplorableRecursif pers=. generation=generationSuivante}}
											</div>
										{{/each}}
								{{else}}
									- pas d'enfant connu<br/>
								{{/with}}
							</div>
						{{/with}}
					{{else}}
						{{#with gh_conjoint ../../_id .}}
							<div style="margin-left:29px;">
							Divorcé{{#if (hlp_eq ../../../sexe "F")}}e{{/if}}
							({{#with ../date}}{{> DateformatCourt}}{{/with}}) de : {{> PersCompletAvecLien}} .</div>
						{{/with}}
					{{/unless}}
				{{/each}}			
			{{else}}
				<img src="/plus.gif" title="Développer"/>
				{{#if ../../focus}}
					<em>{{#with ..}}{{> PersCompletSansLien}}{{/with}}</em>
				{{else}}
					{{#with ..}}{{> PersCompletAvecLien}}{{/with}}
				{{/if}}
			{{/if}}						
		{{else}}
			<div style="margin-left:13px;margin-right:0px;margin-top:0px;margin-bottom:0px;padding:0px;">{{#if ../focus}}<em>{{> PersCompletSansLien}}</em>{{else}}{{> PersCompletAvecLien}}{{/if}}</div>
		{{/with}}
	{{/with}}
	</div>
</template>