<!-- ===================================== -->
<!-- TEMPLATE UserNameWithLink             -->
<!-- Contexte :                            -->
<!-- 	id 							       -->
<!-- ===================================== -->
<template name="UserNameWithLink">
	{{#with pers=pers}}
		{{> PersNomPrenomUsuelAvecLien}}
	{{/with}}
</template>

<!-- ===================================== -->
<!-- TEMPLATE DOCUMENTATION                -->
<!-- UserNameWithLink_DOCAUTO              -->
<!-- ===================================== -->
<template name="UserNameWithLink_DOCAUTO">
	<table class="table">
		<thead>
			<tr>
				<th>Contexte</th>
				<th>Paramètres</th>
				<th>Dépendances</th>
				<th>Explication</th>
				<th>Bootstrap</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
				
<!-- Contexte ============================= -->
Aucun
<!-- ====================================== -->

				</td>
				<td>
				
<!-- Paramètres =========================== -->
<table>
	<tr>
		<td><code>user</code></td>
		<td><code>::Meteor.user</code></td>
	</tr>
</table>
<!-- ====================================== -->

				</td>
				<td>
				
<!-- Dépendances ========================== -->
<code>PersNomPrenomUsuelAvecLien</code><br/>
<!-- ====================================== -->

				</td>
				<td>
				
<!-- Explication ========================== -->
Affiche le nom et prénoms de l'utilisateur passé dans le paramètre <code>user</code> avec un lien hypertexte vers sa fiche.
<!-- ====================================== -->

				</td>
				<td>
				
<!-- Responsive =========================== -->
Aucun tag Bootstrap.
<!-- ====================================== -->

				</td>
			</tr>
		</tbody>
	</table>
	
		
	<table class="table">
		<thead>
			<tr>
				<th colspan="2">Exemples/Tests</th>
			</tr>
		</thead>
		<tbody>
		
<!-- === BLOC EXEMPLE/TEST =============== -->		
			<tr>
				<td>
				
<!-- Codes tests ========================= -->
<pre>{{|#with user=moi}}
	{{|> UserNameWithLink}}
{{|/with}}</pre>
<!-- ===================================== -->	

				</td>
				<td>
				
<!-- Rendu =============================== -->
{{#with user=moi}}
	{{> UserNameWithLink}}
{{/with}}
<!-- ===================================== -->	

				</td>		
			</tr>
<!-- === FIN BLOC EXEMPLE/TEST =========== -->		

		</tbody>
	</table>

	<h4>Améliorations</h4>
	<div class="bg-warning">
<!-- Améliorations ======================= -->
A compléter.
<!-- ===================================== -->	
	</div>
</template>