<!-- ===================================== -->
<!-- TEMPLATE UserPresence                 -->
<!-- ===================================== -->
<template name="UserPresence">
	{{#with user}}
		{{#if present}}
			<img src="/led_green.gif" title="En ligne">
		{{else}}
			<img src="/led_yellow.gif" title="Déconnecté">
		{{/if}}
	{{/with}}
</template>

<!-- ===================================== -->
<!-- TEMPLATE DOCUMENTATION                -->
<!-- UserPresence_DOCAUTO                  -->
<!-- ===================================== -->
<template name="UserPresence_DOCAUTO">
	<table class="table">
		<thead>
			<tr>
				<th>Contexte</th>
				<th>Paramètres</th>
				<th>Dépendances</th>
				<th>Explication</th>
				<th>Bootstrap</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
				
<!-- Contexte ============================= -->
Aucun
<!-- ====================================== -->

				</td>
				<td>
				
<!-- Paramètres =========================== -->
<table>
	<tr>
		<td><code>user</code></td>
		<td><code>::Meteor.user</code></td>
	</tr>
</table>
<!-- ====================================== -->

				</td>
				<td>
				
<!-- Dépendances ========================== -->
Aucune
<!-- ====================================== -->

				</td>
				<td>
				
<!-- Explication ========================== -->
Affiche la présence de l'utilisateur passé dans le paramètre <code>user</code>.
<!-- ====================================== -->

				</td>
				<td>
				
<!-- Responsive =========================== -->
Aucun tag Bootstrap.
<!-- ====================================== -->

				</td>
			</tr>
		</tbody>
	</table>
	
		
	<table class="table">
		<thead>
			<tr>
				<th colspan="2">Exemples/Tests</th>
			</tr>
		</thead>
		<tbody>
		
<!-- === BLOC EXEMPLE/TEST =============== -->		
			<tr>
				<td>
				
<!-- Codes tests ========================= -->
<pre>{{|#with user=moi}}
	{{|> UserPresence}}
{{|/with}}</pre>
<!-- ===================================== -->	

				</td>
				<td>
				
<!-- Rendu =============================== -->
{{#with user=moi}}
	{{> UserPresence}}
{{/with}}
<!-- ===================================== -->	

				</td>		
			</tr>
<!-- === FIN BLOC EXEMPLE/TEST =========== -->		

		</tbody>
	</table>

	<h4>Améliorations</h4>
	<div class="bg-warning">
<!-- Améliorations ======================= -->
A compléter.
<!-- ===================================== -->	
	</div>
</template>